:root {
}

/* ** Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ** General */

/* * header */

/* * main */

/* bootstrap start */

/* porfolio */

/* about */

/* contact me */

/* * footer */

/* footer top */

/* footer bottom */

#footer .footer-bottom {
  padding: 1rem;
}

/* ** debug */

/* height */

.debug .smaller {
  height: 50px;
}

.debug .small {
  height: 80px;
}

.debug .tall {
  height: 300px;
}

.debug .taller {
  height: 500px;
}
