:root {
  /* color palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --sky-light-blue: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #eeba72;
  --light-purple: #9792e4;

  /* web site color palette */
  --primary_bg_color: #2c3e50;
  --secondary_bg_color: #1abc9c;
  --footer_primary_bg_color: #3a546d;
  --footer_secondary_bg_color: #2c3e50;
}

/* ** Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ** General */

/* * header */

#header {
  background-color: var(--primary_bg_color);
  height: 100px;
  /* padding: calc((100px - 56px) / 2) 0; */
}

/* * main */

.line {
  background-color: currentColor;
  height: 0.3rem;
  border-radius: 30px;
  width: 40%;
  margin: auto;
}

.star {
  padding: 0.5rem;
}

/* bootstrap start */

#bootstrap-start {
  background-color: var(--secondary_bg_color);
  color: var(--white);
}

#bootstrap-start .star {
  background-color: var(--secondary_bg_color);
}
/* porfolio */

#portfolio .star {
  background-color: var(--white);
}

/* about */

#about {
  background-color: var(--secondary_bg_color);
  color: var(--white);
}

#about .star {
  background-color: var(--secondary_bg_color);
}

/* contact me */

#contact .star {
  background-color: var(--white);
}

#contact .btn_contact {
  background-color: var(--secondary_bg_color);
  color: var(--white);
}

/* * footer */

#footer {
  color: var(--white);
}

/* footer top */

#footer .footer-top {
  background-color: var(--footer_primary_bg_color);
}

#footer .footer-top-middle span {
  width: 3rem;
  aspect-ratio: 1 / 1;
}

/* footer bottom */

#footer .footer-bottom {
  padding: 2rem 1rem;
  background-color: var(--footer_secondary_bg_color);
}

#footer .footer-bottom address {
  margin-bottom: 0;
}

/* ** debug */

/* height */

.debug .smaller {
  height: 50px;
}

.debug .small {
  height: 80px;
}

.debug .tall {
  height: 300px;
}

.debug .taller {
  height: 500px;
}
